/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.list {
  font-size: 28px;
  line-height: 1.5;
}

/* ------ */

.section {
  margin-top: 12px;
}

.timer {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 32px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
}

/* ------ */

.form-label p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.form-label input {
  width: 222px;
  height: 24px;
}

.form-fieldset {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 200px;
}

.btn {
  width: 230px;
  height: 36px;
}